@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Primary */
    --blue-950: hsl(233, 26%, 24%);
    --green-500: hsl(136, 64%, 51%);
    --cyan-400: hsl(192, 69%, 51%);
    /* Neutral */
    --gray-600: hsl(233, 8%, 62%);
    --gray-100: hsl(220, 16%, 96%);
    --gray-50: hsl(0, 0%, 98%);
    --white: hsl(0, 100%, 100%);

    /* Typography */
    --fs-body: 1.125rem;
    --fw-300: 300;
    --fw-400: 400;
    --fw-700: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
svg {
    /* display: block; */
    max-width: 100%;
}

body {
    font-family: 'Public Sans', sans-serif;
    background-color: var(--gray-100);
    font-size: var(--fs-body);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    padding-block: 1.5rem;
    padding-inline: 8rem;
}

nav.mobile-nav {
    display: none;
}

nav ul {
    display: flex;
    gap: 1rem;
}

nav ul li {
    list-style: none;
}

nav a {
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: var(--fw-300);
    padding: .5rem;
}

nav a:hover {
    font-weight: var(--fw-400);
    background: linear-gradient(to right, var(--green-500), var(--cyan-400));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

nav a::before {
    position: absolute;
    content: '';
    bottom: -1.5rem;
    left: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(to bottom right, var(--green-500), var(--cyan-400));
    margin-right: .5rem;
    transition: all 300ms ease-in-out;
}

nav a:hover,
nav a:focus-visible,
nav a:focus-within,
nav a:focus {
    outline: none;
}

nav a:hover::before,
nav a:focus-visible::before,
nav a:focus-within::before,
nav a:focus::before {
    position: absolute;
    width: 100%;
    transition: all 300ms ease-in-out;
}

button {
    cursor: pointer;
    padding: .75rem 1.5rem;
    border-radius: 1000px;
    border: none;
    color: var(--white);
    font-weight: var(--fw-700);
    background-image: linear-gradient(to bottom left, var(--green-500), var(--cyan-400));
}

button:hover {
    background-color: rgba(255,255,255, .1);
    background-blend-mode: overlay;
}

main {
    background-color: var(--gray-50);
    max-width: 100%;
}

.cta-section {
    /* padding-bottom: 6rem; */
    background-color: var(--gray-50);
    overflow-x: hidden;
}

.group-cta-img {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 50%));
    grid-auto-rows: 600px;
    /* overflow: hidden; */
}

.cta {
    display: grid;
    place-self: center start;
    gap: 1rem;
    margin-left: 8rem;
    margin-bottom: 2rem;
}

h1 {
    font-size: calc(var(--fs-body) * 3);
    color: var(--blue-950);
    font-weight: var(--fw-400);
    max-width: 13.5ch;
}

.cta p {
    max-width: 40ch;
    font-weight: var(--fw-300);
}

.cta button {
    justify-self: start;
}

.group-cta-img img  {
    transform: translate(10.5rem, -8rem);
    padding-block: 2rem;
    padding-top: 7.5rem;
    padding-inline: 5rem;
    justify-self: end;
    background-image: url('./images/bg-intro-desktop.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 113%;
    z-index: 1;
}

section:not(section.cta-section) {
    padding-inline: 8rem;
    flex-wrap: wrap;
}

.why-choose {
    background-color: var(--gray-100);
    padding-block: 6rem;
    transform: translateY(-9.5rem);
}

.why-choose h2 {
    font-size: calc(var(--fs-body) * 2);
    font-weight: var(--fw-700);
    color: var(--blue-950);
    margin-bottom: 1rem;
}

span {
    background: linear-gradient(to bottom right, var(--green-500), var(--cyan-400));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.why {
    max-width: 60ch;
    margin-bottom: 3rem;
}

.examples {
    display: flex;
    gap: 1rem;
}

.examples > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.examples > div img {
    align-self: flex-start;
}

.examples > div h3 {
    background: linear-gradient(to bottom right, var(--green-500), var(--cyan-400));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.examples > * {
    width: 25%;
}

.examples img {
    margin-bottom: .5rem;
}

.articles {
    background-color: var(--gray-50);
    padding-block: 6rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    transform: translateY(-9.5rem);
}

.articles h2 {
    background: linear-gradient(to bottom right, var(--cyan-400), var(--green-500));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: calc(var(--fs-body) * 2);
    font-weight: var(--fw-300);
    margin-bottom: 4rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    gap: 1rem;
}

.card {
    width: 25%;
    min-width: 13rem;
    max-width: 15rem;
    background-color: var(--white);
    border-radius: 12px;
    scale: 1;
    border: 3px solid var(--gray-100);
    transition: all 250ms ease-in-out;
}

.card:hover,
.card:focus-visible,
.card:focus {
    transform: translateY(-5px);
    scale: 1.05;
    box-shadow: 3px 2px 5px 0 rgba(0, 0, 0, .2);
    transition: all 250ms ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .card:hover,
    .card:focus-visible,
    .card:focus {
        transform: none;
        scale: 1;
    }
}

.card img {
    aspect-ratio: 3 / 2;
    object-fit: cover;
    margin-bottom: .5rem;
    border-radius: 12px 12px 0 0;
}

.card-body {
    padding: .5rem 1rem;
}

p.author {
    font-size: calc(var(--fs-body) / 1.5);
    font-weight: var(--fw-300);
    margin-bottom: .75rem;
}

.card h4 {
    font-size: var(--fs-body);
    font-weight: var(--fw-400);
    line-height: 1.05;
    margin-bottom: .5rem;
}

.card a {
    text-decoration: none;
    transition: color 250ms ease-in-out;
}

.card a:hover,
.card a:focus,
.card a:focus-visible,
.card a:focus-within {
    color: var(--cyan-400);
    transition: color 250ms ease-in-out;
}

.card p {
    color: var(--gray-600);
}

a:visited {
    color: var(--gray-600);
}

.card p:not(p.author) {
    font-size: calc(var(--fs-body) * .7);
    line-height: 1.2;
}

footer {
    background-color: #2D314E;
    padding-inline: 8rem;
    padding-block: 6rem;
}

footer ul > li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: var(--gray-600);
}

footer a:hover,
footer a:focus,
footer a:focus-visible {
    color: var(--green-500);
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.group {
    display: flex;
    justify-content: space-between;
    flex: .75;
}

.logo-socials {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.bottom {
    margin-top: 2rem;
}

.bottom ul {
    display: flex;
    gap: .5rem;
}

.links {
    display: flex;
    justify-content: space-evenly;
    width: 35rem;
}

.links ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.btn-copyright {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.btn-copyright button {
    align-self: flex-start;
}

p.copyright {
    font-size: calc(var(--fs-body) * .8);
    color: var(--gray-600);
}

footer span {
    font-size: inherit;
}

/*       Responsive Media Queries    */
@media screen and (width <= 1300px) {
     .group-cta-img img {
        padding-top: 4.5rem;
        padding-inline: 3rem;
        background-size: 115%;
    }
}

@media screen and (width <= 1260px) {
    .group-cta-img img {
        padding-block: 2rem;
        padding-top: 4.5rem;
        padding-inline: 4rem;
        background-size: 110%;
    }
}

@media screen and (width <= 1175px) {
    footer * {
        font-size: calc(var(--fs-body) * .9);
    }

    .group-cta-img img {
        padding-block: 2rem;
        padding-top: 4.5rem;
        padding-inline: 4rem;
        background-size: 110%;
    }
}

@media screen and (width <= 1075px) {
    .group-cta-img {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .group-cta-img img {
        transform: none;
        max-width: 50%;
    }

    .why-choose {
        transform: none;
    }

    .why {
        min-width: 100%;
    }

    .examples > div {
        border: 1px solid var(--gray-600);
        border-radius: 15px;
        padding: 1.5rem 1rem;
        transition: all 250ms ease-in-out;
    }

    .examples > div:hover {
        transform: translateY(-5px);
        scale: 1.05;
        box-shadow: 3px 2px 5px 0 rgba(0, 0, 0, .2);
        transition: all 250ms ease-in-out;
    }

    .articles {
        transform: none;
    }

    .articles h2 {
        text-align: center;
    }

    .card {
        min-width: 40%;
    }

    .card-container {
        justify-content: center;
    }
}

@media screen and (width <= 1060px) {
    .cta h1 {
        font-size: calc(var(--fs-body) * 2.5);
    }

    .cta p {
        font-size: calc(var(--fs-body) *.95);
    }
}

@media screen and (width <=1024px) {
    .group-cta-img img {
        background-image: url('./images/bg-intro-mobile.svg');
        background-size: cover;
        min-width: 60%;
    }
}

@media screen and (width <= 1008px) {
    header {
        padding-inline: 5rem;
    }

    .cta {
        margin-left: 5rem;
    }

    section:not(section.cta-section) {
        padding-inline: 5rem;
    }

    .why {
        text-align: center;
    }

    .examples {
        justify-content: center;
        flex-wrap: wrap;
    }

    .examples > div {
        min-width: 30ch;
    }

    footer {
        padding-inline: 5rem;
    }
}

@media screen and (width <= 1000px) {
    .group-cta-img img {
        padding: 3rem;
    }
}

@media screen and (width <= 911px) {
    header {
        padding-inline: 1.5rem;
    }

    nav.mobile-nav {
        display: flex;
    }

    .mobile-menu {
        display: none;
    }

    nav.desktop-nav a,
    header button {
        display: none;
    }

    .cta {
        margin-left: 1.5rem;
    }

    section:not(section.cta-section) {
        padding-inline: 1.5rem;
    }

    .footer-container {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .group {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .bottom {
        margin: 0;
    }

    .links {
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        gap: .5rem;
    }

    .links ul {
        align-items: flex-start;
    }

    .btn-copyright {
        align-items: center;
    }

    .btn-copyright button {
        align-self: center;
    }
}

@media screen and (width <= 765px) {
    nav a {
        display: none;
    }
}

@media screen and (width <= 630px) {
    .articles {
        padding-inline: .5rem;
    }
    .card {
        width: 100%;
    }
}

@media screen and (width <= 550px) {
    .group-cta-img img {
        min-width: 95%;
    }

    .examples > div {
        min-width: 100%;
    }
    .articles {
        justify-content: flex-start;
    }

    .articles h2 {
        text-align: center;
        min-width: 100%;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

@media screen and (width <= 475px) {
    .group-cta-img img {
        min-width: 100%;
    }
}

@media screen and (width <= 400px) {
    p.copyright {
        font-size: calc(var(--fs-body) * .5);
    }

    footer {
        padding-inline: .5rem;
    }
}

@media screen and (width <= 340px) {
    .cta h1 {
        font-size: calc(var(--fs-body) * 2);
    }
}